/***********************************************
*
*
************************************************/


#Superdiv{
	
	margin: auto;
	
	height:1540px;
	width: 1024px;
	background-color: white;
}

/**/

header{
	
	height:540px;
	width: 100%;
}
/**/

#Banniere{
	
	height:470px;
	width: 100%;
}
/**/

#Banniere > div {
	
	height:216px;
	width: 100%;
}

/**/
nav{
	height:58px;
	width: 100%;	
}
/**/
nav div {
	height:58px;
	width: 20%;
	float: left;
	text-align: center;
	
}

nav div button{
	font-size: 1.4em;
	font-family: "Times New Roman";
	font-weight: "Bold";
	height: 100%;
	width: 100%;
	color: white;
	background-color: rgb(63,195,128);
	border-radius: 0px 25px 0px 25px;
	-webkit-transition: background-color 0.4s ease-in-out ;
	-moz-transition: background-color 0.4s ease-in-out ;
	-o-transition: background-color 0.4s ease-in-out ;
	transition: background-color 0.4s ease-in-out ;
}



nav div button:hover{
	color: rgb(255,157,60);
	background-color: white;
}

/***********************************************
*	
*
************************************************/

#Corps{
	margin-top: 15px;
	
	height:700px;
	width: 100%;	
}

/***********************************************
*		CODE CSS DES NOUVELLES 
************************************************/

#New1{
	width: 500px;
	height: 300px;
}

.img,.infos{
	float: left;
}

.img{
	border-radius: 5px 0px 0px 5px;
	height: 100%;
	width: 29%
}

.infos{
	border-radius: 0px 5px 5px 0px;
	color: white;
	text-align: justify;
	height: 90%;
	width: 60.4%;
	padding: 15px;
}

#New1 .infos{
	background-color: rgb(255,157,60);
}



/***********************************************
*
*
************************************************/

footer{
	margin-top: 15px;
	height:250px;
	width: 100%;	
}

footer table tr td {
	height: 200px;
	width:24%;
}


/*********************************************
*	CODE CSS DU FORMULAIRE PROBLEMES
*
**********************************************/
/**/


.formulaires{
	
	width: 100%;
}

.formulaires > div{
	
	width: 100%;
	font-size: 20px;
}

.formulaires > div + div {
	
	width: 700px;
	margin: auto;	
}


#FormUI input[type="text"]{
	border: none;
	width: 500px;
	height: 40px;
	color: rgb(131,131,131);
	border-radius: 4px;
	background-color: rgb(229,229,229);

}

#FormUI div{
	width: 130px;
	height: 40px;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	border-radius: 4px;
	background-color: none;
	-webkit-transition: background 0.5s ease 0.5s;
	-moz-transition: background 0.5s ease 0.5s;
	-o-transition: background 0.5s ease 0.5s;
	transition: background 0.5s ease 0.5s;
}


#FormUI textarea{
	border: none;
	color: rgb(131,131,131);
	border-radius: 4px;
	background-color: rgb(229,229,229);
	-webkit-transition: border 0.3s ease ;
	-moz-transition: border 0.3s ease ;
	-o-transition: border 0.3s ease ;
	transition: border 0.3s ease ;
}

#Submit{
	border: none;
	border-radius: 4px;
	height: 30px;
	width:100px;
	color: white;
	float: right;
	background-color: rgb(79,183,167);
}

/************************************
* style de la page d'administration
************************************/
#rech input
{
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	border:3px solid black;
	-webkit-transition-property:border;
	-webkit-transition-duration:0.5s;
	-webkit-transition-timing-function:ease;
}

#rech input:hover
{
	border: 3px solid rgb(82,179,217);
}


#rech button
{
	height: 31px;
	border-radius: 5px 5px 5px 5px;
	border: 3px solid black;
	width: 100px;
	background-color: white;
	-webkit-transition-property:border;
	-webkit-transition-duration:0.5s;
	-webkit-transition-timing-function:ease;
	-webkit-transition-property:color;
	-webkit-transition-duration:0.5s;
	-webkit-transition-timing-function:ease;
}

/**/
#rech button:hover
{
	border: 3px solid rgb(82,179,217);
	color:rgb(82,179,217);	
}

/**/
#container
{
	height:768px;
	width:100%;
	padding-top: 0px;
}

/**/
#menu
{
	height: 768px;
	width: 20%;
	background-color: rgb(38,45,43);
	border:1px solid black;
}

/**/
#contenu
{
	height: 768px;
	width: 79%;
	
}

/**/
#navbar
{
	height: 60px;
	width: 100%;
	
	background-color: rgb(38,45,43);
}

/**/
#contenu,#menu
{
	display: inline-block;
	vertical-align: top;
}
/**/
#rech
{
	float: right;
	margin-right: 15px;
	padding-top: 15px;
}
/**/
#data
{
	height:554px;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	overflow: auto;
}
/**/
#footer
{
	float:bottom;
	height: 150px;
	width:100%;
	background-color: rgb(38,45,43);
	font-size: 24px;
	color: white;
	text-align: center;
	
}

/**/

.item
{
	height: 80px;
	width: 99%;
	border:1px solid black;
	text-align: center;
	padding-top: 40px;
	font-size: 26px;
	color: white;
	-webkit-transition-property:background-color;
	-webkit-transition-duration:0.5s;
	-webkit-transition-timing-function:ease;
}


/**/

.item:hover
{
	height: 80px;
	width: 99%;
	border:1px solid black;
	text-align: center;
	padding-top: 40px;
	font-size: 26px;
	color: rgb(82,179,217);
	background-color: white;	
} 

/*******************************
* 	STYLE DE LA PAGE D'ACCUEIL 
********************************/

#Accueil{
	height: 650px;
	width: 100%;
	background-color: rgb(255,157,60);
	color: white;
	font-size: 24px;
	text-align: justify;
	overflow:hidden; 
}


#Accueil > div{
	
	height: 645px;
	width: 100%;
	display: inline-block;
}